video {
  background-color: #ddd;
  border-radius: 7px;
  margin: 10px 0px 0px 10px;
  align-items: : center;
/*  width: 300px;
  height: 200px;*/
}
button {
  margin: 5px 0px 0px 10px !important;
  width: 300px;	
  /*border-radius: 50%;*/
}

#yourVideo {
	width: 200px;
	height: 200px;
}

#friendsVideo {
	width: 300px;
	height: 200px;
}

/*.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}*/


