html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    background: url("../img/back.jpg");
    overflow: hidden;
}

.main-container {
    margin-top: 10px;
    height: 100%;
}

video {
    background-color: black;
    width: 100%;
}

button {
    width: 49%;
}

.videos-container {
    position: relative;
    height: 90%;
}

.caller-video-wrapper {
    position: absolute;
    width: 60%;
    bottom: 5px;
    right: 10px;
    height: 20%; /*just added this, check on phone*/
    /*overflow: hidden;*/
}

.caller-video-wrapper>video {
    background: lightgray;
}

.callee-video-wrapper {
    height: 100%;
}

.callee-video-wrapper>video {
    height: 100%;
}

.buttons-container {
    margin-top: 7px;
}